.cards {
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));

  @media (max-width: 768px) {
    grid-template-columns: 1fr;

    .card .card_content {
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        margin: 0 !important;
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .alert_content {
    flex-direction: column;

    span {
      -webkit-line-clamp: 2 !important;
      margin-bottom: 1rem !important;
    }
  }
}

.alertCenter {
  background-color: $color-wrap;

  .alert_none {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: $color-gray;
    font-size: 0.85rem;
  }

  .alert {
    padding: 15px 20px !important;
    min-width: 0px;

    &.card_emerg {
      background-color: $color-danger-bg;
    }
  }

  .alert_content {
    min-width: 0px;
    width: 100%;
    display: block !important;

    .alert_title {
      font-weight: 700;

      h4 {
        overflow: hidden;
      }

      svg {
        flex-shrink: 0;
        margin-right: 0.3rem;
      }

      &.title_alert {
        svg {
          width: 1.5rem;
          fill: $color-gray;
        }
      }

      &.title_success {
        svg {
          width: 1.5rem;
          fill: $color-success;
        }

        h4 {
          color: $color-success-text;
        }
      }

      &.title_warning {
        svg {
          width: 1.6rem;
          fill: $color-warning;
        }

        h4 {
          color: $color-warning-text;
        }
      }

      &.title_danger,
      &.title_emerg {
        svg {
          width: 1.6rem;
          fill: $color-danger;
          filter: drop-shadow(0px 0px 10px $color-danger);
        }

        h4 {
          color: $color-danger-text;
        }
      }
    }

    span {
      color: $color-gray;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      word-break: keep-all;
      font-size: 1rem;
      line-height: 1.3em;
      margin-bottom: 2rem;
    }

    .alert_btn {
      font-size: 13px;
      padding: 10px;
      background: $color-bg;
      border-radius: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background: darken($color-bg, 3%);
      }
    }
  }

  .foldBtn {
    transition: background 0.06s;

    color: $color-gray;
    fill: $color-gray;

    &:hover {
      background: $color-bg;
    }
  }
}

.userGraph {
  height: 400px;
  background-color: $color-wrap;
}