$color-bg: rgb(15, 16, 22);
$color-wrap: rgb(11, 11, 14);
$color-navbar: rgb(21, 23, 32);
$color-ui: rgb(27, 31, 43);
$color-h1: rgb(85, 85, 85);
$color-gray: rgb(153, 153, 153);
$color-fakeWhite: rgb(235, 235, 235);
$color-white: rgb(255, 255, 255);

$color-white-transparent: rgba(255, 255, 255, 0.082);
$color-black-transparent: rgba(0, 0, 0, 0.067);

$color-highlight: rgb(33, 100, 226);
$color-switch-active: rgb(38, 189, 106);

$color-warning: rgb(236, 223, 41);
$color-danger: rgb(224, 42, 42);

$color-nav: rgb(156, 163, 175);
$color-nav-active: rgb(188, 193, 202);
$color-nav-premium: rgb(180, 149, 46);
$color-nav-premium-active: rgb(207, 168, 37);