.spiner-enter-active,
.spiner-leave-active,
.connErr-enter-active,
.connErr-leave-active {
  transition: opacity 0.3s;
}

.spiner-enter,
.spiner-leave-to,
.connErr-enter,
.connErr-leave-to {
  opacity: 0;
}

.state_wrap {
  position: absolute;
  width: 100%;
}

.state {
  width: 100%;
  height: 100px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.75rem;
  padding-top: 1.25rem;
  color: $color-white;
}